<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Installations</h1>
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <p>Installating ......</p>
    </ul>
  </div>

</div>
